<launch>
     <include file="$(find robovie_bridge)/launch/robovie22_all.launch">
      <arg name="initial_pose_x" value="0"/>
      <arg name="initial_pose_y" value="0"/>
     </include>
     <arg name="l2hostname" default="10.229.40.227" />
     <arg name="l2port" default="7003" />
     <node pkg="tf" type="static_transform_publisher" name="world_to_map_tf" args=" 0 0 0 0 0 0 'world' 'map' 10" />
     <node respawn="true" pkg="layer2" type="client.py" name="layer2_client">
          <param name="hostname" value="$(arg l2hostname)" type="string" />
          <param name="port" value="$(arg l2port)" type="int" />
     </node>

     <node pkg="layer2" type="htentity_list_visualizer.py" name="layer2_rviz_marker" respawn="true"/>
</launch>



